* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 70px;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px #EFE9F2;
}
.logo {
    margin-right: auto;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding: 0 15px;
}
nav ul li a {
    color: #18191f;
    text-decoration: none;
    font-family: manrope;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    margin-top: 150px;
}
.auto-layout {
    flex: none;
    flex-grow: 0;
    margin: 40px 0px;
}
h3 {
    position: static;
    margin-top: 20px;
    margin-left: 120px;
    justify-content: center;
    line-height: 32px;
    text-align: center;
    font-family: Montserrat;
    letter-spacing: 0.1;
    font-weight: bold;
    color: #252B42;
}
.git {
    position: absolute; 
    width: 76px;
    left: 684px;
    top: 249px;
}
form {
    margin-top: 20px;
    line-height: 32px;
}
input[type ="text"] {
    width: 100%;
    padding: 8px 4px;
    margin: 8px 0;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;

}
button {
    width: 100%;
    padding: 8px 4px;
    margin: 8px 0;
    border: 5px solid #E6E6E6;
    background-color: #011E2E;
    color: #FFFFFF;
    text-align: center;

}
button a {
    text-decoration: none;
    color: #FFFFFF;
}
.flex-wrap {
    display:flex ;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#0B0D17;
    padding: 20px 10px;
    color: #FFFFFF;
}
.intro-text {
    line-height: 57px;
    text-align: center;
    color: #000000;
    padding: 3em;

}
.flex-wrapper {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 64px;
}

.box-box {
    justify-content: center;
    text-align: center;
    line-height: 24px;
}
img {
    height: 0 auto;
}
.result-img {
    height: 231px;
}
.and-sh {
    line-height: 24px;
    text-decoration: none;
    color: #23a6F0;
    letter-spacing: 0.2px;
    margin-left: 150px;
    margin-bottom: 50px;
    font-weight: 600;
    
}
/* abboutt  */
.page-wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 950px;
}

.followers {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.first-p {
    max-width: 80%;
    margin-top: 30px;
}
hr {
    margin-top: 20px;
}
.row {
    display: flex;
    justify-content: space-between;
}
main {
    padding-top: 3em;
}
.main-content {
    width: 60%;
}
.side-bar {
    width: 60%;
    padding: 1em;
    margin-left: 3em;
}
.about-img {
    margin-top: 40px;
}
.div-wrapper {

    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 250px;
}
.div-wrapper h2 {
    color: #737373;
}
.big {
    color: black;
}
.a-link{
    line-height: 24px;
    text-decoration: none;
    color: #23a6F0;
    letter-spacing: 0.2px;
    font-weight: 600;
}
